.profile {
  width: 100%;
  text-align: center;
  background-color: #495155;
  padding: 30px 0px;
  border-radius: 15px;
}

.profile__image {
  margin: 0 auto;
  width: 200px;
}

.profile__basic-info {
  margin: 15px 0;
}

.profile__basic-info a {
  color: #ffffff;
  text-decoration: none;
}

.profile__basic-info a:hover {
  border-bottom: 1px solid #ffffff;
}

.profile__image img {
  width: 100%;
  border-radius: 50%;
}

.profile__name {
  margin: 10px 0px;
}

.profile__icons {
  font-size: 20px;
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.profile__bio {
  width: 90%;
  margin: 30px auto;
  text-align: center;
}

.profile__follow-info {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  text-transform: uppercase;
}

.profile__online-presence {
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.profile__online-presence a {
  color: #ffffff;
  font-size: 20px;
}

@media (min-width: 768px) {
  .profile {
    width: 35%;
    margin-right: 30px;
    /* position: fixed; */
  }

  .profile__online-presence {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
