@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Oswald:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #27363d;
  color: #ffffff;
  font-family: 'Exo 2', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}

.container {
  max-width: 1170px;
  padding: 7.5px;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .container {
    padding: 15px;
  }
}
